@import "normalize.css";
@import "grid.css";
@import "print.css";
@import "syntax.css";

/* ==========================================================================
   LAYOUT
   ========================================================================== */
section[role="document"]{
	margin-bottom: 100px;
	padding:0 5%;
}

/* ==========================================================================
   ELEMENTS
   ========================================================================== */



/* ==========================================================================
   SECTIONS
   ========================================================================== */



/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

/* Responsive IMAGES */

img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

/* Desktop */
@media only screen and (min-width: 48em) { /* 768px */

}

/* Tablet etc */
@media only screen and (max-width:47.99em) { /* 767px */

}

/* Mobile */
@media only screen and (max-width:20em) { /* 320px */

}