body{font:400 1em/1.4 "PT Sans",Helvetica,Arial,sans-serif}
h1{margin:0;font:400 6em/100px Damion;text-indent:20px}
.small-logo h1{font-size:2.5em;line-height:50px;text-indent:10px}
h3{font:700 3.3em/1.4em Esteban,Helvetica,Arial,sans-serif;letter-spacing:-2px;text-align:center;margin-bottom:10px}
h3.level-out{font-family:Damion;font-size:3.5em}
h4{margin:0;font-weight:400;text-align:center;color:#444;text-transform:lowercase}
h5{margin-bottom:-.8em;font-size:1.9em;color:#000}
h6{margin:0;font-size:1.5em;font-weight:700;font-style:italic}
footer p{display:inline-block;font-size:14px;vertical-align:-1px;color:#777}
a{color:#F2385A;-webkit-transition:.2s;transition:.2s;text-decoration:none}
a:hover{color:#36B1BF}