---
title: Portfolio
---
<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include nav.html active="work" %}
			{% include logo.html %}

			<section role="main" class="column twelve main" id="work">
				<div class="content">
					<h1 style="text-align:center;margin:100px 0">coming soon...</h1>
					<!-- switch this to an include -->
					<!-- <div class="showcase">
						{% for work in site.data.work %}<div class="piece">
								<h4 class="piece__title">{{ work.project }}</h4>
							</div>{% endfor %}
					</div> -->
				</div>
				{% include footer.html %}
			</section>
		</section>
	</div>

	{% include ga.html %}
	{% include require.html %}

</body>
</html>
