---
title: Currents
---
<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include sidebar.html %}

			<section role="main" class="column nine main">
				<div class="inner">
					<div class="currents">
						<h3>Currents</h3>
						<p>Bullets from my blog gun...</p>
						<h4>Posts</h4>
						<ul>
						  {% for post in site.posts %}
						    <li>
						      <a href="{{ post.url }}">{{ post.title }}</a>
						      {{ post.excerpt }}
						    </li>
						  {% endfor %}
						</ul>
					</div>

					{% include footer.html %}

				</div>
			</section>
		</section>
	</div>

	{% include ga.html %}

	<script data-main="js/main" src="js/lib/require.js"></script>

</body>
</html>