---
title: Portfolio
---
<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include nav.html active="work" %}
			{% include header.html %}

			<section role="main" class="column twelve main" id="work">
				<div class="content">
					<div class="showcase">
						{% include showcase.html %}
					</div>
				</div>
				{% include footer.html %}
			</section>
		</section>
	</div>

	{% include ga.html %}
	{% include require.html %}

</body>
</html>
