---
title: Story
permalink: story/
---
<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include sidebar.html %}

			<section role="main" class="column nine main">
				<div class="inner">
					<div class="story">
						<h3>Level Out</h3>
						<h4 class="area area-story">Story</h4>
						<p class="area-intro">Coming soon...</p>
						<!-- <p>Sell myself -- Where/how I started. Where I am now. What I've worked on. Recent/sample projects.</p> -->
						<!-- 
							PROJECTS:
							- GoogleMatch
							- 
						 -->
					</div>

					{% include footer.html %}

				</div>
			</section>
		</section>
	</div>

	{% include ga.html %}

	<script data-main="/js/main" src="/js/lib/require.js"></script>

</body>
</html>