.post{padding:0 10%}
.small-divider{width:500px;max-width:100%;margin:20px auto;border:0;border-top:1px solid #999}
.post-meta{margin-bottom:50px;text-align:center}
.post-meta span{margin-right:10px}
.post-meta span:last-of-type{margin-right:0}
.post-meta i{padding-right:5px}
.post .tags span{display:inline-block;padding:2px 5px;border-radius:6px;font-size:12px;color:#FFF;background:#36B1BF;position:relative}
.post p,.post ul{font-size:22px;line-height:1.5;letter-spacing:.01em}
.post p{margin:1.5em 0;color:rgba(0,0,0,.8)}
.post>p:first-of-type{font-size:1.6em;text-align:center}
.post>p:first-of-type::first-letter{font-size:26px;font-weight:700}
.post ul{margin:40px 0;padding:0 20px;list-style-type:square}
.post blockquote{border-left:6px solid pink;margin:1em -26px;padding:0 20px}
.post blockquote p{font-style:italic;color:rgba(0,0,0,.6)}
.post .comments{margin:50px auto}