<nav>
	<ul>
		<li>
			<a href="/" class="nav-link {% if include.active == 'work' %}active{% endif %}">Work</a>
		</li>
		<li>
			<a href="/blog" class="nav-link {% if include.active == 'blog' %}active{% endif %}">Blog</a>
		</li>
		<li>
			<a href="https://github.com/lukehedger" class="button circular" target="_blank"><i class="fa fa-github"></i></a>
		</li>
		<li>
			<a href="https://twitter.com/level_out" class="button circular" target="_blank"><i class="fa fa-twitter"></i></a>
		</li>
	</ul>
</nav>
