<section role="complimentary" class="column three sidebar">
	<div class="inner">
		<div class="sidebar-toggle" on-tap="sidebarToggleTap">
			<i class="">&times;</i>
		</div>
		<a class="logo" href="/">
			<h1>lo</h1>
		</a>
		<div class="blurb">
			<p>Hello, I'm Luke - a web developer from London. My current stack consists of CoffeeScript, Stylus/Myth, Ractive and Gulp. When I'm not coding (but also sometimes whilst I'm coding) I enjoy drinking ale, walking aimlessly and laughing.
			<div class="skills">
				<i class="fa fa-code"></i><i class="fa fa-html5"></i><i class="fa fa-css3"></i><i class="fa fa-github-alt"></i><i class="fa fa-beer"></i>
			</div>
			</p>
		</div>
		<nav>
			<ul class="nav">
				<li>
					<a class="page-nav" href="/">Currents</a>
				</li>
				<li>
					<a class="page-nav" href="/story">Story</a>
				</li>
			</ul>
		</nav>
		<div class="networks">
			<a href="https://github.com/lukehedger" class="button github">GitHub</a>
			<a href="https://twitter.com/level_out" class="button twitter">Twitter</a>
		</div>
	</div>
</section>