<section role="complimentary" class="column three sidebar">
	<div class="inner">
		<div class="sidebar-toggle" on-tap="sidebarToggleTap">
			<i class="">&times;</i>
		</div>
		<div class="logo">
			<h1>lo</h1>
		</div>
		<div class="blurb">
			<p>Hello, I'm Luke - a web developer from London. Find me on Twitter <a href="https://twitter.com/level_out" target="_blank">@level_out</a>.
			<div class="skills">
				<i class="fa fa-code"></i><i class="fa fa-html5"></i><i class="fa fa-css3"></i><i class="fa fa-git"></i>
			</div>
			</p>
		</div>
		<nav>
			<ul class="nav">
				<li>
					<a class="page-nav" data-page="1">Profile</a>
				</li>
				<li>
					<a class="page-nav" data-page="2">Story</a>
				</li>
				<li>
					<a class="page-nav" data-page="3">Currents</a>
				</li>
			</ul>
		</nav>
		<div class="networks">
			<a href="https://github.com/lukehedger" class="button github">GitHub</a>
			<a href="https://twitter.com/level_out" class="button twitter">Twitter</a>
		</div>
	</div>
</section>