<section role="complimentary" class="column three sidebar">
	<div class="inner">
    {% if include.toggle %}
      <div class="sidebar-toggle" on-tap="sidebarToggleTap">
        <i class="">&times;</i>
      </div>
    {% endif %}
		<a class="logo logo-{{ include.active }}" href="{{ include.link }}">
			<h1>lo</h1>
		</a>
		<div class="blurb">
			<p>Hello, I'm Luke - a web developer from London. My current stack consists of CoffeeScript, Stylus/Myth, Ractive and Gulp. When I'm not coding (but also sometimes whilst I'm coding) I enjoy drinking ale, walking aimlessly and laughing.
			<div class="skills">
				<i class="fa fa-code"></i><i class="fa fa-beer"></i>
			</div>
			</p>
		</div>
		<nav>
			<a class="page-nav button {% if include.active == 'blog' %}active{% endif %}" href="/">Blog</a>
			<a class="page-nav button {% if include.active == 'work' %}active{% endif %}" href="/work">Work</a>
		</nav>
		<div class="networks">
			<a href="https://github.com/lukehedger" class="button circular github"><i class="fa fa-github"></i></a>
			<a href="https://twitter.com/level_out" class="button circular twitter"><i class="fa fa-twitter"></i></a>
		</div>
	</div>
</section>