.inner{padding:0 20px}
.sidebar{z-index:20;color:#FFF;background:#333;-webkit-transition:.4s;transition:.4s}
.sidebar a{color:inherit}
.sidebar .blurb{margin:20px 0;padding:10px;border:1px dashed #666;border-radius:4px;text-align:center;-webkit-transition:1s;transition:1s}
.sidebar .blurb:hover{border-color:#999}
.sidebar .skills i{margin:0 5px}
nav .nav{margin:20px auto;padding:0;text-align:center}
nav .nav li{margin:0;padding:0;text-align:center;display:inline}
nav .nav li:after{content:" | ";padding:0 5px}
nav .nav li:last-of-type:after{content:"";padding:0}
nav .nav li a{padding-bottom:1px;border-bottom:1px solid transparent}
nav .nav li a.active,nav .nav li a:active,nav .nav li a:focus,nav .nav li a:hover{border-bottom-color:#fff}
.sidebar .networks{text-align:center}
.sidebar-toggle{width:40px;height:40px;border:2px solid #fff;border-radius:50%;text-align:center;background:#333;position:absolute;top:10px;right:-20px;cursor:pointer}
.sidebar-toggle i{width:20px;height:20px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;font-size:26px;line-height:15px;font-weight:100;font-style:normal;-webkit-transition:.1s;transition:.1s;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
.main{z-index:10;background:#FFF;-webkit-transition:.2s;transition:.2s}
footer{margin-top:20px;border-top:1px solid #999}
h4.area{margin:20px auto;padding:6px;width:130px;border-radius:6px;font-weight:700;text-transform:uppercase;background-color:#333;color:#fff}
h4.area:before{content:"";width:12px;height:12px;margin-right:4px;border-radius:50%;display:inline-block}
h4.area.area-blog:before{background-color:#F2385A}
h4.area.area-work:before{background-color:#36B1BF}
.area-intro{text-align:center}
.blog ul{margin:0;padding:0;list-style-type:none}
.blog ul li{margin:0;padding:20px 0;border-bottom:1px solid #999}
.blog ul li:last-of-type{padding:20px 0;border-bottom:0}
.blog ul li p{font-style:italic}
.blog ul li p:last-of-type{margin-bottom:0}
.blog .blog-post-title{font-weight:700}
.blog .blog-post-meta{color:#999}
.small-divider{width:500px;max-width:100%;margin:20px auto;border:0;border-top:1px solid #999}
.post-meta{margin-bottom:50px;text-align:center}
.post-meta span{margin-right:10px}
.post-meta span:last-of-type{margin-right:0}
.post-meta i{padding-right:5px}
.post .tags span{display:inline-block;padding:2px 5px;border-radius:6px;font-size:12px;color:#FFF;background:#36B1BF;position:relative}
.post p{margin:1.5em 0;padding:0 10%;text-align:justify}
.post p:first-of-type{font-size:18px}
.post p:first-of-type::first-letter{font-size:26px;font-weight:700}
.post .comments{margin:50px auto;padding:0 10%}
img{width:100%;max-width:100%;margin:0 auto}
img.emoji{width:auto;vertical-align:baseline}
@media only screen and (min-width:1024px){.sidebar{height:100%;position:fixed;left:0;padding-bottom:9999px;margin-bottom:-9999px}
section[role=document].no-sidebar .sidebar{left:-24%}
section[role=document].no-sidebar .sidebar .sidebar-toggle i{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.sidebar-toggle:active i,.sidebar-toggle:focus i,section[role=document] .sidebar .sidebar-toggle:hover i{-webkit-animation:icon-hover-close 2s 2 ease-in-out;animation:icon-hover-close 2s 2 ease-in-out}
.sidebar-toggle:active i,.sidebar-toggle:focus i,section[role=document].no-sidebar .sidebar .sidebar-toggle:hover i{-webkit-animation:icon-hover-open 1s 2 ease-in-out;animation:icon-hover-open 1s 2 ease-in-out}
.main{height:100%;position:absolute;right:0}
section[role=document].no-sidebar .main{right:13%}}
@media only screen and (max-width:1023px){.sidebar .blurb,.sidebar .sidebar-toggle{display:none}}
@media only screen and (max-width:480px){.post .comments,.post p{padding:0}}