code{padding:0 6px;border-radius:4px;font-size:.9em;background:#eee;color:#36B1BF}
pre code{padding:10px 50px;border-radius:0;font-size:1em;display:block;background:#333;color:#fff}
@media only screen and (max-width:480px){pre code{padding:10px}}