.icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: no-repeat center center;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover, &:focus {
    opacity: 1;
  }

  &--github {
    background-image: url('#{$path-image}github.svg');
  }

  &--twitter {
    background-image: url('#{$path-image}twitter.svg');
  }
}
