.block {
  min-height: 400px;
  background-color: #FFFFFF;

  &--preview {
    
  }

  &__img {
    width: 100%;
    height: 160px;

    &--preview {
      height: 360px;
    }

  }

  &__body {
    padding: $inuit-base-spacing-unit;
  }

}
