///////////////////////////////////////////////////////////////////////////////
// # _settings.default.scss
//
// Your shouldn't modify this directly - you can try the other settings,
// like color.scss, typography.scss.
///////////////////////////////////////////////////////////////////////////////
$inuit-base-font-size        : $font-size;
$inuit-base-line-height      : $font-line-height;
$inuit-base-text-color       : $color-foreground;
$inuit-base-background-color : $color-background;
