body {
	font: normal 1em/1.4 "Rosario", Helvetica, Arial, sans-serif;
}

h1 {
	margin: 0;
	font: normal 6em/100px "Damion";
	text-indent: 20px;
}

h2 {
	
}

h3 {
	font: bold 3em/1em "Esteban", Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
	text-align: center;
}

h4 {
	margin: 0;
	font: italic 1.5em/1em "Esteban", Georgia, serif;
	text-align: center;
	color: #444;
	text-transform: lowercase;
}

h5 {
	
}

h6 {

}

p {

}

.page p {
	font-size: 1.1em;
	text-align: center;
}

a {
	color: #F2385A;
	transition: 0.2s;
}
a:hover {
	color: #36B1BF;
}