/**
 * @module:   card
 * @js:       ./source/js/module/card/card.js
 * @html:     ./source/js/module/card/card.html
 */


@include module("card") {

  margin-bottom: $inuit-base-spacing-unit;
  cursor: pointer;

  &--no-link {
    cursor: default;
  }

  &--single {
    max-width: 520px;
    margin: auto auto 40px;

    @include break(not-small) {
      padding-right: $inuit-base-spacing-unit;
    }
  }

  &__owner {
    margin-bottom: 4px;
    display: block;
    @include inuit-font-size(14px, 1.2);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__title {
    @include inuit-font-size(22px, 1.4);
  }

  &__detail {

    &--post {
      &:after {
        content: '...';
      }
    }

  }

  &__cta {
    @include inuit-font-size(10px, none);
    color: $color-loblue;
    text-transform: uppercase;
  }

}
