/**
 * @module:   footer
 * @js:       ./source/js/module/footer/footer.js
 * @html:     ./source/js/module/footer/footer.html
 */


@include module("footer") {

  &__tagline {
    margin-top: 5px;
    @include inuit-font-size(14px, 1.3);
    text-align: center;
    color: $color-ltgrey;
  }

}
