/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


@include module("nav") {

  padding: 5px 20px 0;

  &__item {
    display: inline-block;
    cursor: pointer;

    &--text {
      border-bottom: 1px solid $color-loblue;
      display: block;
      @include inuit-font-size(12px, 1.5);
      color: $color-loblue;
      text-transform: uppercase;
      transition: border-width 0.2s;

      &:hover, &:focus {
        border-bottom-width: 3px;
      }

    }

  }

}
