/**
 * @module:   work
 * @js:       ./source/js/module/work/work.js
 * @html:     ./source/js/module/work/work.html
 */


@include module("work") {

  margin-top: 40px;
  padding: 40px;
  background-image: linear-gradient(135deg, lighten($color-lopink, 40), lighten($color-loblue, 50));

  @include break(not-small) {
    padding-bottom: 60px;
  }

  &__title {
    @include sectionTitle($color-dkgrey);
  }

}
