/**
 * @module:   work
 * @js:       ./source/js/module/work/work.js
 * @html:     ./source/js/module/work/work.html
 */


@include module("work") {

  margin: 40px 0;
  padding: 20px 40px;
  background-color: lighten($color-lopink, 40);

  &__title {
    @include sectionTitle($color-dkgrey);
  }

}
