---
import aboutImg from "@/assets/serverless-book.jpg";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Recommendations for books and whitepapers to read",
	title: "Reading",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
	    <h1 class="title">Reading</h1>

		<p>Recommendations for books and whitepapers to read</p>

		<div class="prose prose-cactus prose-sm">
			<h3>Books</h3>

			<ul class="list-inside list-disc">
				<li>Ask Your Developer - Jeff Lawson</li>
				<li>Close to the Machine - Ellen Ullman</li>
				<li>Database Internals - Alex Petrov</li>
				<li>Mastering Modular JavaScript - Nicolas Bevacqua</li>
				<li>Practical Process Automation - Bernd Ruecker</li>
				<li>The Soul of a New Machine - Tracy Kidder</li>
			</ul>

			<h3>Papers</h3>

			<ul class="list-inside list-disc">
				<li>Autonomous Computing - Pat Helland</li>
				<li>Dynamo: Amazon's Highly Available Key-value Store - Amazon.com</li>
				<li>Firecracker: Lightweight Virtualization for Serverless Applications - Amazon Web Services</li>
				<li>Taming Consensus in the Wild (with the Shared Log Abstraction) - Mahesh Balakrishnan</li>
				<li>What Goes Around Comes Around... And Around... - Stonebraker & Pavlo</li>
			</ul>
		</div>
	</div>
</PageLayout>
