---
title: Blog
---
<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include nav.html active="blog" %}
			{% include logo.html %}

			<section role="main" class="column twelve main" id="blog">
				<div class="content">
					<ul>
						{% for post in site.posts %}
							<li>
								<a class="blog-post-title" href="{{ post.url }}">{{ post.title }}</a>
								{{ post.excerpt }}
								<span class="blog-post-meta">{{ post.date | date_to_string }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% include footer.html %}
			</section>
		</section>
	</div>

	{% include ga.html %}
	{% include require.html %}

</body>
</html>
