<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include sidebar.html active="blog" link="/work" %}

			<section role="main" class="column nine main has-hero" id="blog">
				<div class="inner">
          {% include hero.html %}
					<div class="content">
						
            {{ content }}
            
					</div>

					{% include footer.html %}

				</div>
			</section>
		</section>
	</div>

	{% include ga.html %}

	{% include require.html %}

</body>
</html>