<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include sidebar.html %}

			<section role="main" class="column nine main">
				<div class="inner">
					<article class="post">

						{% include post-header.html %}

						{{ content }}

						<!-- TODO: Link to prev/next posts here -->
						
					</article>

					{% include footer.html %}

				</div>
			</section>
		</section>
	</div>

	{% include ga.html %}

	<script data-main="/js/main" src="/js/lib/require.js"></script>

</body>
</html>