<!doctype html>
<html>
<head>
	{% include head.html %}
</head>
<body>
	<div class="grid">
		<section role="document" class="row container">

			{% include sidebar.html active="blog" link="/" toggle=true %}

			<section role="main" class="column nine main" id="post">
				<div class="inner">
					<article class="post">

						{% include post-header.html %}

						{{ content }}

						{% if page.previous.url %}
							<a class="prev" href="{{page.previous.url}}">&larr; {{page.previous.title}}</a>
						{% endif %}
						{% if page.next.url %}
							<a class="next" href="{{page.next.url}}">{{page.next.title}} &rarr;</a>
						{% endif %}

						{% include comments.html %}
						
					</article>

					{% include footer.html %}

				</div>
			</section>
		</section>
	</div>

	{% include ga.html %}

	{% include require.html %}

</body>
</html>