/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/* Sidebar Toggle Hover */
@keyframes icon-hover-open {
	50% {color: #9ACC56;}
}
@keyframes icon-hover-close {
	50% {color: #D22D1C;}
}

.anim-moveFromLeft {
	animation: moveFromLeft .7s ease both;
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}


/* slide */
.anim-rotateSlideOut {
	animation: rotateSlideOut 1s both ease;
}
.anim-rotateSlideIn {
	animation: rotateSlideIn 1s both ease;
}
@keyframes rotateSlideOut {
	25% { opacity: .5; transform: translateZ(-500px); }
	75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@keyframes rotateSlideIn {
	0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateX(0); }
}