/* ==========================================================================
   LAYOUT
   ========================================================================== */

.inner {
	padding: 0 20px;
}

/* ==========================================================================
   SECTIONS
   ========================================================================== */

.sidebar {
	z-index: 20;
	color: #FFFFFF;
	background: #333333;
	transition: 0.4s;
}

.sidebar a {
	color: inherit;
}

.sidebar .blurb {
	margin: 20px 0;
	padding: 10px;
	border: 1px dashed #666;
	border-radius: 4px;
	font-size: 0.8em;
	font-family: Consolas;
	text-align: center;
	transition: 1s;
}

.sidebar .blurb:hover {
	border-color: #999;
}

.sidebar .skills i {
	margin: 0 5px;
}

nav .nav {
	margin: 20px auto;
	padding: 0;
	text-align: center;
}

nav .nav li {
	margin: 0;
	padding: 0;
	text-align: center;
}

nav .nav li {
	display: inline;
}
nav .nav li:after {
	content: " | ";
	padding: 0 5px;
}
nav .nav li:last-of-type:after {
	content: "";
	padding: 0;
}

nav .nav li a {
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
}
nav .nav li a:hover, nav .nav li a:focus, nav .nav li a:active, nav .nav li a.active {
	border-bottom-color: white;
}

.sidebar .networks {
	text-align: center;
}

.sidebar-toggle {
	width: 40px;
	height: 40px;
	border: 2px solid white;
	border-radius: 50%;
	text-align: center;
	background: #333333;
	position: absolute;
	top: 10px;
	right: -20px;
	cursor: pointer;
}
.sidebar-toggle i {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 26px;
	line-height: 15px;
	font-weight: 100;
	font-style: normal;
	transition: 0.1s;
	transform: rotate(0deg);
}

.main {
	z-index: 10;
	background: #FFFFFF;
	transition: 0.2s;
}

footer {
	margin-top: 20px;
	border-top: 1px solid #999;
}

/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

/* Responsive IMAGES */

img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	
	.sidebar {
		height: 100%;
		position: fixed;
		left: 0;
		padding-bottom: 9999px;
		margin-bottom: -9999px;
		/*overflow: hidden;*/
	}

	section[role="document"].no-sidebar .sidebar {
		left: -24%;
	}

	section[role="document"].no-sidebar .sidebar .sidebar-toggle i {
		transform: rotate(45deg);
	}
	section[role="document"] .sidebar .sidebar-toggle:hover i, .sidebar-toggle:focus i, .sidebar-toggle:active i {
		animation: icon-hover-close 2s 2 ease-in-out;
	}
	section[role="document"].no-sidebar .sidebar .sidebar-toggle:hover i, .sidebar-toggle:focus i, .sidebar-toggle:active i {
		animation: icon-hover-open 1s 2 ease-in-out;
	}

	.main {
		height: 100%;
		position: absolute;
		right: 0;
	}

	section[role="document"].no-sidebar .main {
		right: 13%;
	}

}

/* Tablet etc */
@media only screen and (max-width:1023px) {

	.sidebar .blurb, .sidebar .sidebar-toggle {
		display: none;
	}

}

/* Mobile */
@media only screen and (max-width:480px) {

}