/* ==========================================================================
   BUTTONS
   ========================================================================== */

.button {
	margin: 5px;
	padding: 10px 20px;
	border: 1px solid #333;
	border-radius: 6px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
}

.button.circular {
	width: 23px;
	height: 23px;
	margin: 2px;
	padding: 0;
	border-radius: 50%;
	opacity: 0.5;
	background: none !important;
	position: relative;
}
.button.circular:hover, .button.circular:focus, .button.circular:active, .button.circular.active {
	opacity: 1;
}

.button.circular i {
	height: 1em;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: #333;
}
