/* ==========================================================================
   LOGO
   ========================================================================== */

.logo {
	width: 110px;
	height: 110px;
	margin: 10px auto;
	border-radius: 50%;
	display: block;
	background: #F2385A;
	transition: all 1s ease-in-out;
}
.logo:not(.small-logo):hover {
	transform: rotate(360deg);
	background: #36B1BF;
}
.logo.logo-work {
	background: #36B1BF;
}
.logo.logo-work:not(.small-logo):hover {
	background: #F2385A;
}
.logo.small-logo {
	width: 50px;
	height: 50px;
	display: inline-block;
	color: #444;
	background: none;
	opacity: 0.8;
}
.logo.small-logo:hover {
	opacity: 1;
}