/* ==========================================================================
   LOGO
   ========================================================================== */

.logo {
	width: 110px;
	height: 110px;
	margin: 10px auto;
	border-radius: 50%;
	display: block;
	/*background: #F2385A;*/
	background: url("/img/hero-blog.jpg") no-repeat center center;
	background-size: contain;
	color: #FFF;
	transition: transform 0.3s;
}
.logo:not(.small-logo):hover, .logo:not(.small-logo):focus, .logo:not(.small-logo):active {
	color: #FFF;
	transition: transform 1s ease-in-out;
	transform: rotate(360deg);
}
.logo.scaled {
	transform: scale(0.3);
	transform-origin: center;
}

.logo.small-logo {
	width: 50px;
	height: 50px;
	display: inline-block;
	color: #444;
	background: none;
	opacity: 0.8;
}
.logo.small-logo:hover {
	opacity: 1;
}