/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

/* Responsive IMAGES */

img {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
img.emoji {
	width: auto;
	vertical-align: baseline;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
	
	

}

/* Tablet etc */
@media only screen and (max-width:1023px) {
	
	

}

/* Mobile */
@media only screen and (max-width:480px) {

	.post, .post p, .post .comments {
		padding: 0;
	}

}